@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');



*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
   * colors
   */
    --cream: #FAF8F6;
    --orange: #F5683C;
    --deep-blue: #19183A;
    --grey: #4D4B4A;
    --white: #FFFEFF;
    --purple: #A294CD;
    --light-orange: #FFE5DE;


    /**
   * typography
   */

    --ff-roboto: 'Roboto',
        sans-serif;
    --ff-poppins: 'Poppins',
        sans-serif;
    --ff-shippori: 'Shippori Mincho',
        serif;

    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.063rem;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /**
   * transition
   */

    --transition: 0.25s ease;
    --transition-2: 0.5s ease;

    /**
   * spacing
   */

    --section-padding: 60px;

    /**
   * border radius
   */

    --radius-4: 4px;
    --radius-8: 8px;
    --radius-12: 12px;
}


body {
    background-color: var(--cream);
}



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
}

html {
    font-family: var(--ff-be-vietnam-pro);
    scroll-behavior: smooth;
}

/* body {
  background: var(--white);
} */